._nav::-webkit-scrollbar {
     width: 1px;
}

._nav::-webkit-scrollbar-track {
     background-color: #fff;
}

._nav::-webkit-scrollbar-thumb {
     background-color: #fff;
}

._section_width {
     width: calc(100% - 60px);
     height: 100% !important;
}

._content {
     overflow-x: scroll !important;
}

._content::-webkit-scrollbar {
     height: 8px;
     width: 8px;
}

._content::-webkit-scrollbar-track {
     background-color: #f0eaea;
}

._content::-webkit-scrollbar-thumb {
     border-radius: 4px;
     background-color: #d1cccc;
}

._blacklisted {
     background-color: rgba(228, 3, 59, 0.12) !important;
}

[type="date"]::-webkit-calendar-picker-indicator {
     opacity: 0;
}

@media screen and (min-width: 768px){
     ._section_width {
     width: calc(100% - 240px);
     height: 100% !important;
}
}