._nav::-webkit-scrollbar {
     width: 1px;
}

._nav::-webkit-scrollbar-track {
     background-color: #fff;
}

._nav::-webkit-scrollbar-thumb {
     background-color: #fff;
}

._section_width {
     width: calc(100% - 60px);
}

._section_width_resize {
     width: calc(100% - 240px);
}

._content {
     overflow-x: scroll !important;
}